.text-color{
    color: #3c4859;
}

.heading h2{
    font-family: 'Righteous', cursive;
    font-size:40px;
    Font-weight: 900
}


.heading {
    font-family: 'GothamRounded-Bold';
}

.sec2{
text-align: right;
}